*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-family: 'Conv_arial-rounded-mt';
    height: 100vh;
    padding: 0;
}

.mobile{
  display: none;
}
/* Menu sur le côté */
nav {
    display: flex;
    flex-direction: column;
    width: 10rem;
    background-color: #F0F1F2;
    height: 100vh;
    justify-content: space-between;
    border-right: solid 1px black ;
}

.logowedigo{
  padding-left: 1rem;
  padding-top: 1rem;
}
.logowedigo2{
display: none;
  }
  
.logowedigo:hover{
  padding-left: 1rem; 
}

nav img:hover{
    padding-left: 1rem;
}

nav p{
  font-size: 12px;
  margin-bottom: 1rem ;
}

nav img{
    width: 8rem;
    padding-bottom: 1rem;   
}

.logogithub{
  width: 2rem;
  padding-bottom: 0;
}

.logogithub:hover{
  padding-left: 0;
}
/* Fin Menu sur le côté*/

h1{
  padding-top: 1rem;
  margin-left: 2%;
}

/* Début partie principale */
main{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding-top: 2rem ;
}

/* Widget météo */
:root {  
  --text_med: #252525;
  --text_dark: #252525;
  --red: #F3CDF3;
  --orange: #F3CDF3;
}
  
button {
    cursor: pointer;
}
   
input {
  -webkit-appearance: none;
}
   
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}
 
ul {
  list-style: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
  }
 
  /* SECTION #1 */
  .top-banner {
    color: #252525;
  }
  
  .heading {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
    color: #252525;
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .top-banner form input {
    font-size: 1.5rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  
  .top-banner form button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--red);
    transition: background 0.3s ease-in-out;
  }
  
  .top-banner form button:hover {
    background: #252525;
    color: white;
  }
  
  .top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
  }
  
  
  /* SECTION #2 */
  .ajax-section {
    margin: 70px 0 20px;
  }
  
  .ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr); 
  }
  
  .ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background-color:#F3CDF3 ;
  }
  
  .ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #252525;
  }
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: #252525;
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }

  footer{
    display: none;
  }
  
  
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @font-face {
    font-family: 'Conv_arial-rounded-mt';
    src: url('font/arial-rounded-mt.eot');
    src: local('☺'), url('font/arial-rounded-mt.woff') format('woff'), 
      url('font/arial-rounded-mt.ttf') format('truetype'), 
      url('font/arial-rounded-mt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
 
